{% extends "registration/__base_generic.html" %}
{% block likes %}
<div class="w3-container">
      <h5>Favorited Tracks</h5>
        <table class="w3-table w3-striped w3-white">
    {% for track in tracks %}
        <tr>
            <td><a href="{{track.obj.uri}}">{{track.obj.title}}</a></td>
            <td>{{track.obj.genre}}</td>
            <!--{% for k, v in track.obj.items %}-->
            <!--<td>{{v}}</td>-->
            <!--{% endfor %}-->
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
